<mat-card class="card-area">
    <mat-card-title-group>
      <mat-card-title>{{movie.title}}</mat-card-title>
      <mat-card-subtitle>Release Date: {{movie.releaseDate}}</mat-card-subtitle>
      <mat-card-subtitle>Language: {{movie.language}}</mat-card-subtitle>
      <mat-card-subtitle>Rating: {{movie.voteAvg}} of {{movie.voteCount}} votes</mat-card-subtitle>
      <mat-card-subtitle *ngIf="movie.isInLocalDB" class="movie-saved-msg">This movie is saved in the local DB</mat-card-subtitle>
      <img mat-card-md-image *ngIf="movie.posterUrl != null" src="{{movieImageUrl+movie.posterUrl}}" >
      <img mat-card-md-image *ngIf="movie.posterUrl == null" src="assets/empty.jpg" >
    </mat-card-title-group>
    <mat-card-content>
      {{movie.overview}}
    </mat-card-content>
    <mat-card-actions>
      <button *ngIf="!movie.isInLocalDB" mat-button (click)="saveMovie()">Save to local DB</button>
      <button *ngIf="movie.isInLocalDB" mat-button (click)="deleteMovie()">Remove from local DB</button>
    </mat-card-actions>
  </mat-card>