<div class="main-dashboard">
  <div class="top-header-bar mat-elevation-z6">
    <h1 class="mat-h1">Theater Management Dashboard</h1>
  </div>
  <section class="search-section">
    <h2>Welcome. Please search for a movie:</h2>
    <div class="search">
      <movie-search-bar [useInternalDb]="isSearchLocalDb" (optionSelected)="onOptionSelected($event)"></movie-search-bar>
      <button mat-raised-button color="accent" (click)="search()">Search</button>
    </div>
    <mat-slide-toggle
      class="search-location-toggle"
      [(ngModel)]="isSearchLocalDb"
      (ngModelChange)="onMovieToggleChange()"
      >{{isSearchLocalDb ? "Search Movies in local DB" : "Search Movies in TMDB"}}</mat-slide-toggle>
  </section>
  <dashboard-movies-section *ngIf="movies$ != null" [movies]="movies$ | async" (pageChanged)="changePage($event)"></dashboard-movies-section>
</div>
