.main-dashboard{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.top-header-bar{
    background: #3f51b5;
    height: 4em;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    display: flex;
    align-items: center;
}

.search-section{
    background: #3f51b5;
    margin-top: 4em;
    max-width: 60em;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 0.5em;
}

.search{
    display: flex;
    height: 3.5em;
    margin-bottom: 0.5em;
    background-color: #fff;
    color: black;
    border-radius: 5px;
    flex-direction: row;
}

.search-location-toggle{
    width: 90%;
    padding-bottom: 0.3em;
}