<form class="search-bar">
    <mat-form-field class="search-bar-full-width" appearance="fill">
      <mat-label>Movie Title</mat-label>
      <input type="text"
             placeholder="Select a movie"
             matInput
             [formControl]="searchMoviesCtrl"
             [matAutocomplete]="auto">
      <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" (optionSelected)="onOptionSelected($event)">
        <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
          {{option}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </form>